.title {
  color:  	#6fbeff;
  opacity: 0.95;
  font-weight: 600;
}

/*AeroGlass CSS*/
.aeroBefore{
    content: '';
    top: 0; bottom: 0;
    left: 0; right: 0;
    filter: blur(800px);
    z-index: -1;
    margin: -30px;
}
.aeroGlass{
    top: 0; bottom: 0;
    left: 0; right: 0;
    width: 800px;
    height: 600px;
    line-height: 2;
    margin: auto;
    border-radius: 5px;
    background: rgba(174, 230, 230, 0.3);
    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, .3);
    overflow: hidden;
}

/*Global Setting*/
.textNameFont {
  font-family: Arial, Helvetica, sans-serif;
}
.textCenter {
     text-align: center;
}
.GlobalPosition {
     position: flex;
     margin-top: 120px;
}

/*Social Link*/
a {
  text-decoration: none;
  font-weight: 1000;
  color:  	#0c090c;
  opacity: 0.9;
  transition: opacity .25s ease-in-out;
  /*fixed*/
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.socialLink li {
  font-size: 17px;
  margin: 5px;
  color: #444;
}
.rightMove {
  margin-left: 40px;
}

/*Information Text*/
.infoText {
  color:  	   #2F4F4F;
  margin-top: 80px;
  font-size: 14px;
  font-weight: 500;
}
.enText {
  font-size: 12px;
}

.footerText {
  position: absolute;
  bottom: 0;
  margin-left: calc(50vw - 100px);
  margin-right: calc(50vw - 100px);
  text-align: center;
  font-size: 10px;
  color:rgb(212, 207, 207);
  font-weight: bolder;
}
.footerText  a {
  text-decoration: none;
  color:rgb(212, 207, 207);
}
.footerText  a:hover {
  color: rgb(201, 191, 182);
}
.footerText  a.active {
  color: rgb(124, 115, 108);
}
.footerText  a.active:hover {
  color: rgb(184, 169, 169);
}
.footerText  a.active:visited {
  color: rgb(250, 249, 249); 
}
.footerText  a:visited {
  color: rgb(250, 241, 241);
}
body {
  background: url('./background/3177917.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: darkgray;
}

@media screen and (max-width: 845px) {
  .aeroGlass{
    position :static;
    width: 700px;
    height: 550px;
  }
}

@media screen and (max-width: 745px) {
  .aeroGlass{
    position :static;
    width: 600px;
    height: 400px;
  }
}

@media screen and (max-width: 645px) {
  .aeroGlass{
    position :static;
    width: 550px;
    height: 400px;
  }
}

@media screen and (max-width: 545px) {
  .aeroGlass{
    margin-top: 5cm;
    position :static;
    width: 500px;
    height: 600px;
  }
}